.App {
  text-align: center;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: aqua;
  padding: 30px;
}

.link {
  font-size: 30px;
  margin: 30px;
}

.pages {
  width: 200px;
  height: 500px;
  background-color: cornflowerblue;
  float: left;
  padding: 10px;
}

.content {
  display: inline;
  margin : 50px;
}

.objlist {
  margin-left: 200px;
}

.apishow{
  background-color: darkkhaki;
  margin: 10px;
  width: 300px;
  float: left;
}